﻿
@using Kasir.Models
@model PengeluaranKasNonInvoiceViewModel
@{
    var controllerName = "PengeluaranKasNonInvoice";
    ViewBag.Title = "Pengeluaran Non Invoice";
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;


    #region ==== MODAL TIPE TRANSAKSI
    var target_rekening = new
    {
        t0 = $"#{nameof(Model.l_TipeTransaksi)}",
    };
    var modalid_rekening = $"modal_{formName}_{nameof(Model.l_TipeTransaksi)}";
    var modalName_rekening = "Tipe Transaksi";
    #endregion


    #region ==== MODAL TIPE PEMBAYARAN
    var target_pembayaran = new
    {
        t0 = $"#{nameof(Model.l_TipePembayaran)}",
    };
    var modalid_pembayaran = $"modal_{formName}_{nameof(Model.l_TipePembayaran)}";
    var modalName_pembayaran = "Tipe Pembayaran";
    #endregion


    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-2">NoBukti</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <label class="control-label col-md-4">Tanggal</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <label class="control-label col-md-4">Jam</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.ToString("hh':'mm")) : "") } })
                                @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-2">Tipe Bayar</label>
                                    <div class="col-md-10 margin-bottom-md">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button id="btnakunmerchan" onclick="openmodaltipePembayaran()"
                                                        class="btn btn-success input-lookup" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            @Html.EditorFor(model => model.l_TipePembayaran, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.l_TipePembayaran, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Transaksi</label>
                                    <div class="col-md-10 margin-bottom-md">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button id="btnrekening" onclick="openmodalrekening()"
                                                        class="btn btn-success input-lookup" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            @Html.EditorFor(model => model.l_TipeTransaksi, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.l_TipeTransaksi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-bold col-md-2">Nilai</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Nilai_View, new { htmlAttributes = new { @class = "form-control text-bold text-right input-money" } })
                                        @Html.ValidationMessageFor(model => model.Nilai_View, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Keterangan</label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control", @rows = "4" })
                                        @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>


@Html.Partial("_LookUpTipeTransaksi", Model, new ViewDataDictionary {
{ "target", target_rekening },
{ "modalid", modalid_rekening },
{ "targetForm", targetForm },
{ "modalName", modalName_rekening },
{ "headerisajax", ViewBag.IsAjaxRequest},
{ "type", "PENGELUARAN"},
})

@Html.Partial("_LookUpTipePembayaran", Model, new ViewDataDictionary {
{ "target", target_pembayaran },
{ "modalid", modalid_pembayaran },
{ "targetForm", targetForm },
{ "modalName", modalName_pembayaran },
{ "headerisajax", ViewBag.IsAjaxRequest}
})

<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }

    function openmodalrekening() {
        $("#@modalid_rekening").modal();
    }
    function openmodaltipePembayaran() {
        $("#@modalid_pembayaran").modal();
    }
</script>