﻿@using Kasir.Models
@model ReportViewModel
@{
    var controllerName = "Report";
    ViewBag.Title = "Report";
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== M O D A L  R E G I S T R A S I
    var target_registrasi = new
    {
        t0 = $"#{nameof(Model.NoReg)}",
        t1 = $"#{nameof(Model.NRM)}",
        t2 = $"#{nameof(Model.Nama)}",
        t3 = $"#{nameof(Model.Kamar)}"
    };

    var modalid_registrasi = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName_registrasi = "Registrasi";

    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};

    var reportlist = new List<SelectListItem>()
{
new SelectListItem(){ Value = "SIM_Rpt_RincianOperasi", Text = "Laporan Tindakan Operasi Per Pasien" },
new SelectListItem(){ Value = "RS_CAHAYA_Honor_RI_UMUM", Text = "Laporan Fee Dokter Rawat Inap" },
new SelectListItem(){ Value = "RS_CAHAYA_Honor_RI_UMUM_PerDokter", Text = "Laporan Fee Dokter Rawat Inap Per Dokter" },
new SelectListItem(){ Value = "SIM_Rpt_TindakanPendapatanBiayaRI", Text = "Laporan Pendapatan dan Biaya PerPasien" },
new SelectListItem(){ Value = "Z_Laporan_Glondongan_LabaRugi_RI", Text = "Laporan Laba Rugi" },

};
}

<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            Data Report Pendukung 2
        </div>
        <div class="panel-body">
            <div class="wall" ng-controller="form">
                @using (Html.BeginForm("ReportPendukung2", controllerName, FormMethod.Post, new { id = formName, autocomplete = "off" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SPName)
                    <div class="form-group">
                        <label>Report</label>
                        @Html.DropDownListFor(model => model.JenisReport, reportlist, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JenisReport, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group periode">
                        <label>Periode</label>
                        @Html.TextBoxFor(model => model.Start, new { @class = "form-control", Value = Model.Start.ToString("yyyy-MM-dd"), type = "date" })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group periode">
                        <label>Sampai</label>
                        @Html.TextBoxFor(model => model.End, new { @class = "form-control", Value = Model.End.ToString("yyyy-MM-dd"), type = "date" })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden" id="dokter">
                        <label>Dokter</label>
                        @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group registrasi">
                        <label>NoReg</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btnregistrasi" onclick="openmodalregistrasi()"
                                            class="btn btn-success input-lookup" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                                @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", onblur = "getdataregistrasi()", @readonly = "readonly" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group registrasi hidden">
                        <label>NRM</label>
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group registrasi hidden">
                        <label>Nama</label>
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group registrasi hidden">
                        <label>Kamar</label>
                        @Html.EditorFor(model => model.Kamar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Kamar, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="formatreport">
                        <label>Format Report</label>
                        @Html.DropDownListFor(model => model.FormatReport, StaticModel.SelectListFormatReport, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FormatReport, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Report <i class="icon-printer position-right"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LookUpRegistrasiReport", Model, new ViewDataDictionary {
{ "target", target_registrasi },
{ "modalid", modalid_registrasi },
{ "targetForm", targetForm },
{ "modalName", modalName_registrasi },
{ "headerisajax", ViewBag.IsAjaxRequest}
})
<script>
    function openmodalregistrasi() {
        $("#@modalid_registrasi").modal();
    }
    $('#JenisReport').on('change', function () {
        jenisreportchanget();
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        jenisreportchanget();
    });

    function jenisreportchanget() {
        var v = $('#JenisReport option:selected').val();
        var sp = v === 'SIM_Rpt_RincianOperasi' ? 'SIM_Rpt_RincianOperasi' :
            v === 'RS_CAHAYA_Honor_RI_UMUM' ? 'RS_CAHAYA_Honor_RI_UMUM' :
                v === 'RS_CAHAYA_Honor_RI_UMUM_PerDokter' ? 'RS_CAHAYA_Honor_RI_UMUM_PerDokter' :
                    v === 'SIM_Rpt_TindakanPendapatanBiayaRI' ? 'Z_Laporan_Glondongan_Pendapatan_Beban_RI' :
                        v === 'Z_Laporan_Glondongan_LabaRugi_RI' ? 'Z_Laporan_Glondongan_LabaRugi_RI' :
                    '';
        if (v === 'RS_CAHAYA_Honor_RI_UMUM_PerDokter') {
            $('#dokter').removeClass('hidden');
        } else {
            $('#dokter').addClass('hidden');
        }

        if (v === 'SIM_Rpt_TindakanPendapatanBiayaRI') {
            $('.registrasi').removeClass('hidden');
            $('.periode').addClass('hidden');
        } else {
            $('.registrasi').addClass('hidden');
            $('.periode').removeClass('hidden');
        }

        $('#SPName').val(sp);
    }

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("SelectListDokter", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });
</script>