﻿@using Kasir.Models
@model StokOpnameViewModel
@{
    var controllerName = "StokOpname";
    ViewBag.Title = "Stok Opname";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    var targetForm = formName;

    #region Detail Barang
    var detail_barang = new StokOpnameDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Barang
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.Barang_ID)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.Kode_Barang)}",
        t2 = $"#Detail_List_-1__Model_{nameof(detail_barang.NamaBarang)}",
        t3 = $"#Detail_List_-1__Model_{nameof(detail_barang.Satuan)}",
        t4 = $"#Detail_List_-1__Model_{nameof(detail_barang.Konversi)}",
        t5 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtyFisik)}",
        t6 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtySystem)}",
        t7 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtySelisih)}",
        t8 = $"#Detail_List_-1__Model_{nameof(detail_barang.Harga)}",
        t9 = $"#Detail_List_-1__Model_{nameof(detail_barang.Kategori)}"
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.Kode_Barang)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_barang td, #@table_detail_barang th{ white-space: nowrap; }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Lokasi</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Lokasi, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Jenis</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.KelompokJenis, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
                <div class="table-responsive">
                    <table id="@table_detail_barang" class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>Kode</th>
                                <th>Deskripsi</th>
                                <th>Satuan</th>
                                <th>Konversi</th>
                                <th>Qty Sistem</th>
                                <th>Qty Fisik</th>
                                <th>Qty Selisih</th>
                                <th>Harga</th>
                                <th>Kategori</th>
                                <th>keterangan</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.Detail_List)
                            {
                            <tr>
                                <td>@x.Model.Kode_Barang</td>
                                <td>@x.Model.NamaBarang</td>
                                <td>@x.Model.Satuan</td>
                                <td>@x.Model.Konversi</td>
                                <td class="text-center">@x.Model.QtySystem</td>
                                <td class="text-center">@x.Model.QtyFisik</td>
                                <td class="text-center">@x.Model.QtySelisih</td>
                                <td class="text-right">@x.Model.Harga</td>
                                <td>@x.Model.Kategori</td>
                                <td>@x.Model.Keterangan</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>