﻿@using Kasir.Models
@model StokOpnameViewModel
@{
    var controllerName = "StokOpname";
    ViewBag.Title = "Stok Opname";
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
    var targetForm = formName;

    #region Detail Barang
    var detail_barang = new StokOpnameDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_barang td, #@table_detail_barang th{ white-space: nowrap; }

    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(5),
    #@table_detail_barang tbody td:nth-child(5){
        width: 110px;
    }

    #@table_detail_barang thead th:nth-child(6),
    #@table_detail_barang tbody td:nth-child(6){
    }

    #@table_detail_barang thead th:nth-child(7),
    #@table_detail_barang tbody td:nth-child(7){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(8),
    #@table_detail_barang tbody td:nth-child(8){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(9),
    #@table_detail_barang tbody td:nth-child(9){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(10),
    #@table_detail_barang tbody td:nth-child(10){
        width: 100px;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.No_Bukti)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Lokasi</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Lokasi, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Jenis</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.KelompokJenis, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
                <div class="table-responsive">
                    <table id="@table_detail_barang" class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>
                                    <input type="checkbox" onclick="checkall(this)" />
                                </th>
                                <th class="text-center">
                                    
                                </th>
                                <th></th>
                                <th>ID</th>
                                <th>Kode</th>
                                <th>Deskripsi</th>
                                <th>Satuan</th>
                                <th>Konversi</th>
                                <th>Qty Sistem</th>
                                <th>Qty Fisik</th>
                                <th>Qty Selisih</th>
                                <th>Harga</th>
                                <th>Kategori</th>
                                <th>keterangan</th>

                            </tr>
                        </thead>
                        <tbody>

                            @for (var i = 0; i < Model.Detail_List.Count; i++)
                            {
                            <tr>

                                <td>
                                    <input type="checkbox" />
                                </td>

                                <td>
                                </td>

                                <td>
                                    @Html.EditorFor(model => model.Detail_List[i].Remove,
                                   new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                </td>
                                
                                <td>
                                    @Html.EditorFor(model => model.Detail_List[i].Model.Barang_ID, new
                               {
                                   htmlAttributes = new
                                   {
                                       @readonly = "readonly"
                                   }
                               })
                                </td>
                                
                                <td>
                                    @Html.EditorFor(model => model.Detail_List[i].Model.Kode_Barang, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control input-sm",
                                       @readonly = "readonly"
                                   }
                               })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Detail_List[i].Model.NamaBarang, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control input-sm",
                                       @readonly = "readonly"
                                   }
                               })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Detail_List[i].Model.Satuan, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control input-sm text-center",
                                       @readonly = "readonly"
                                   }
                               })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Detail_List[i].Model.Konversi, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control input-sm text-center",
                                       @readonly = "readonly"
                                   }
                               })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Detail_List[i].Model.QtySystem, new
                               {
                                   @class = "form-control input-sm text-right",
                                   @readonly = "readonly",
                                   type = "number",
                               })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Detail_List[i].Model.QtyFisik, new
                               {
                                   @class = "form-control input-sm text-right",
                                   type = "number",
                                   onchange ="qtyfisikonchange(this)",
                                   Min = 0,
                               })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Detail_List[i].Model.QtySelisih, new
                               {
                                   @class = "form-control input-sm text-right",
                                   @readonly = "readonly",
                               })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Detail_List[i].Model.Harga, new
                               {
                                   @class = "form-control input-sm text-right",
                                   @readonly = "readonly",
                               })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Detail_List[i].Model.Kategori, new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                               })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Detail_List[i].Model.Keterangan, new
                               {
                                   @class = "form-control input-sm"
                               })
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <br />

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>

    function qtyfisikonchange(t) {
        var tr = $($(t).closest('tr'));
        var sistem = tr.find('td:nth-child(9) input').val();
        var inputselisih = tr.find('td:nth-child(11) input');
        selisih = parseFloat(t.value) - parseFloat(sistem);
        inputselisih.val(selisih);
    }

</script>

