﻿@using Kasir.Models
@model PembayaranObatBebasInsertViewModel
@{
    var controllerName = "PembayaranObatBebas";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";
    var targetForm = formName;

    #region ==== MODAL MERCHAN
    var target_merchan = new
    {
        t0 = $"#{nameof(Model.IDBank)}",
        t1 = $"#{nameof(Model.NamaBank)}",
    };
    var modalid_merchan = $"modal_{formName}_{nameof(Model.IDBank)}";
    var modalName_merchan = "Merchan";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">NoBukti</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly"} })
                            @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Tanggal</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.Jam != null ? (Model.Jam.ToString("hh':'mm")) : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">No Farmasi</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NoBuktiFarmasi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NoBuktiFarmasi, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Tgl Farmasi</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.TglFarmasi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TglFarmasi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Nama Pasien</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Tipe Pasien</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TipePasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TipePasien, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Detail Obat</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.DetailObat, new { @class = "form-control", @readonly = "readonly", rows = "5", @style = "background-color:#C0FFC0;" })
                                    @Html.ValidationMessageFor(model => model.DetailObat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Nilai Transaksi</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiTransaksi_View, new { htmlAttributes = new { @class = "form-control text-right input-money", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NilaiTransaksi_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Tunai BPD</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiPembayaranTunaiBPD_View, new { htmlAttributes = new { @class = "form-control text-right input-money", onchange = "hitungtotal()" } })
                                    @Html.ValidationMessageFor(model => model.NilaiPembayaranTunaiBPD_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Tunai</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiPembayaranTunai_View, new { htmlAttributes = new { @class = "form-control text-right input-money", onchange = "hitungtotal()" } })
                                    @Html.ValidationMessageFor(model => model.NilaiPembayaranTunai_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Kredit / Bon</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiPembayaranKredit_View, new { htmlAttributes = new { @class = "form-control text-right input-money", onchange = "hitungtotal()" } })
                                    @Html.ValidationMessageFor(model => model.NilaiPembayaranKredit_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Beban</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiPembayaranBebanRS_View, new { htmlAttributes = new { @class = "form-control text-right input-money", onchange = "hitungtotal()" } })
                                    @Html.ValidationMessageFor(model => model.NilaiPembayaranBebanRS_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Kartu Kredit</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiPembayaranCC_View, new { htmlAttributes = new { @class = "form-control text-right input-money", onchange = "hitungtotal()" } })
                                    @Html.ValidationMessageFor(model => model.NilaiPembayaranCC_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3  text-bold">Merchan</label>
                                <div class="col-md-4 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btnmerchan" onclick="openmodalMerchan()"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.IDBank, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.IDBank, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.NamaBank, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaBank, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Total</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control text-right input-money", @style = "background-color:#FFC0C0;" } })
                                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

@Html.Partial("_LookUpMerchan", Model, new ViewDataDictionary {
{ "target", target_merchan },
{ "modalid", modalid_merchan },
{ "targetForm", targetForm },
{ "modalName", modalName_merchan },
{ "headerisajax", ViewBag.IsAjaxRequest}
})
<script>
    $(document).ready(function () {
        hitungtotal();
    });
    function openmodalMerchan() {
        $("#@modalid_merchan").modal();
    }

    function hitungtotal() {
        var bpd = getfloatfromcurrency($('#NilaiPembayaranTunaiBPD_View').val()) || 0;
        var tunai = getfloatfromcurrency($('#NilaiPembayaranTunai_View').val()) || 0;
        var kredit = getfloatfromcurrency($('#NilaiPembayaranKredit_View').val()) || 0;
        var beban = getfloatfromcurrency($('#NilaiPembayaranBebanRS_View').val()) || 0;
        var cc = getfloatfromcurrency($('#NilaiPembayaranCC_View').val()) || 0;
        var total = tunai + kredit + beban + cc + bpd;
        $('#Total').val(getcurrencyfromfloat(total));
    }
</script>