﻿
@using Kasir.Models
@model PettyCashViewModel
@{
    var controllerName = "PettyCash";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL AKUN
    var target_akun = new
    {
        t0 = $"#{nameof(Model.Akun_ID_Tujuan)}",
        t1 = $"",
        t2 = $"#{nameof(Model.akun_Name)}",
    };
    var modalid_akun = $"modal_{formName}_{nameof(Model.Akun_ID_Tujuan)}";
    var modalName_akun = "Akun";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-2">NoBukti</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId")', '#NoBukti')">
                                            <i class="icon-sync"></i>
                                        </button>
                                    </span>
                                    @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Section</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <label class="control-label col-md-4">Tanggal</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">User</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.UsernameWeb, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.UsernameWeb, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <label class="control-label col-md-4">Jam</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.ToString("hh':'mm")) : "") } })
                                @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Shif</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Shift_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Shift_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-2">Pemasukan</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Debet_View, new { htmlAttributes = new { @class = "form-control text-right input-money", Value = "0" } })
                                        @Html.ValidationMessageFor(model => model.Debet, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Pengeluaran</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Kredit_View, new { htmlAttributes = new { @class = "form-control text-right input-money", Value = "0" } })
                                        @Html.ValidationMessageFor(model => model.Kredit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Kepada</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Kepada, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Kepada, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-2">Akun</label>
                                    <div class="col-md-4 margin-bottom-md">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button id="btnrekening" onclick="openmodalakun()"
                                                        class="btn btn-success input-lookup" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            @Html.EditorFor(model => model.Akun_ID_Tujuan, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.akun_Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Akun_ID_Tujuan, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Deskripsi</label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Deskripsi, new { @class = "form-control", @rows = "3" })
                                        @Html.ValidationMessageFor(model => model.Deskripsi, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

@Html.Partial("_LookUpRekening", Model, new ViewDataDictionary {
{ "target", target_akun },
{ "modalid", modalid_akun },
{ "targetForm", targetForm },
{ "modalName", modalName_akun },
{ "headerisajax", ViewBag.IsAjaxRequest}
})

<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }

    function openmodalakun() {
        $("#@modalid_akun").modal();
    }
</script>