﻿@using Kasir.Models
@model AmprahStokViewModel
@{
    var controllerName = "AmprahStok";
    ViewBag.Title = "Amprah Stok";
    var formName = $"frm_{controllerName}_create";
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Detail", Value = "active" }
};
}

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Dari</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SectionAsal, new { @class = "form-control", @readonly= "readonly" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Kepada</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SectionTujuan, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-1">Keterangan</label>
        <div class="col-md-11">
            @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div id="panel_detil_barang_@formName">
        <div class="table-responsive">
            <table id="@table_detail_barang" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Kode</th>
                        <th>Deskripsi</th>
                        <th>Sat.Beli</th>
                        <th>Sat.Jual</th>
                        <th>Konversi</th>
                        <th>Qty Amprah</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        var i = 1;
                    }
                    @foreach (var x in Model.Detail_List)
                    {
                    <tr>
                        <td class="text-center">@i</td>
                        <td>@x.Model.Kode_Barang</td>
                        <td>@x.Model.NamaBarang</td>
                        <td>@x.Model.SatuanBeli</td>
                        <td>@x.Model.Satuan</td>
                        <td>@x.Model.Konversi</td>
                        <td>@x.Model.Qty</td>
                        @{ i = i + 1; }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>