﻿@using Kasir.Models
@model MutasiKasBankViewModel
@{
    var controllerName = "MutasiKasbank";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL TIPE PEMBAYARAN
    var target_pembayaran = new
    {
        t0 = $"#{nameof(Model.NamaBank)}",
        t1 = $"#{nameof(Model.IDBank)}",
        t2 = $"#{nameof(Model.AkunIDBank)}",
    };
    var modalid_pembayaran = $"modal_{formName}_{nameof(Model.NamaBank)}";
    var modalName_pembayaran = "Tipe Pembayaran";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

}

<style>
    .btn-next-prev button {
        font-size: 30px;
    }

    .active-info {
        background: #333 !important;
        color: #fff !important;
    }

    .fm_loading {
        width: 100%;
        height: 100%;
        background: #fff;
        /* position: absolute; */
        opacity: 0.8;
        padding: 30vh 0;
        text-align: center;
    }

        .fm_loading i {
            font-size: 4vh;
        }

    #tbl_kasbank thead th:nth-child(1), #tbl_non_kasbank thead th:nth-child(1),
    #tbl_kasbank tbody td:nth-child(1), #tbl_non_kasbank tbody td:nth-child(1) {
        width: 100px;
        text-align: center;
    }

    #tbl_kasbank thead th:nth-child(2), #tbl_non_kasbank thead th:nth-child(2),
    #tbl_kasbank tbody td:nth-child(2), #tbl_non_kasbank tbody td:nth-child(2) {
        width: 145px;
        text-align: center;
    }

    #tbl_kasbank thead th:nth-child(4), #tbl_non_kasbank thead th:nth-child(4),
    #tbl_kasbank tbody td:nth-child(4), #tbl_non_kasbank tbody td:nth-child(4) {
        width: 95px;
        text-align: right;
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate_tipe(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">NoBukti</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tipe Bayar</label>
                        <div class="col-md-10 margin-bottom-md">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btnakunmerchan" onclick="openmodaltipePembayaran()"
                                            class="btn btn-success input-lookup" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                                @Html.EditorFor(model => model.NamaBank, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NamaBank, "", new { @class = "text-danger" })
                            </div>

                            @Html.HiddenFor(model => model.IDBank)
                            @Html.HiddenFor(model => model.AkunIDBank)
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label col-md-2">Tanggal</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Jam</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Now.ToString("HH:mm") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="tabbable">

                    <div class="tab-content">
                        <div class="tab-pane panel panel-body active" id="left-icon-tab1">
                            <div style="display:table; width:45%;">
                                <div style="display:table-row;">
                                    <div style="display: table-cell; width: 45%; padding: 11px 0px; ">
                                        <div class="col-md-4 col-md-offset-1">
                                            <input type="date" name="fromdate" id="fromdate" class="form-control input-xs" value="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="get_kasbank('tbl_kasbank', false);" />
                                        </div>

                                        <div class="col-md-4">
                                            <input type="date" name="todate" id="todate" class="form-control input-xs" value="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="get_kasbank('tbl_kasbank', false);" />
                                        </div>

                                        <div class="col-md-3">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="all" id="all" value="" onchange="get_kasbank('tbl_kasbank', false);" /> All Periode
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="display:table; width:100%;">
                                <div style="display:table-row;">
                                    <div style="display:table-cell; width:45%;">
                                        <label style="width:100%;" class="text-semibold">Data Closing Kasir <span onclick="get_kasbank('tbl_kasbank', false, 0);" class="pull-right  cursor-pointer"><i class="icon-sync"></i></span> </label>
                                        <div id="form_tbl_kasbank" class="table-responsive border-grey" style="border:1px solid #ccc; background:#eee; height:400px;">
                                            <div class="fm_loading hidden"><i class="icon-spinner9 spinner"></i></div>
                                            <table id="tbl_kasbank" class="table table-bordered table-hover" style="background: #fff;">
                                                <thead>
                                                    <tr>
                                                        <th>Tanggal</th>
                                                        <th>Nomor Bukti</th>
                                                        <th>Keterangan</th>
                                                        <th>Nilai</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="fm_tbl_kasbank"> </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div style="display: table-cell; width: 10%;">
                                        <label>&nbsp;</label>
                                        <div class="row">
                                            <div class="col-md-12 text-center btn-next-prev">
                                                <button class="btn btn-default" type="button" onclick="next_or_previuskasbank(true, 'tbl_kasbank')"><i class="icon-arrow-right14"></i> </button>
                                            </div>
                                        </div>
                                        <div class="row mt-15">
                                            <div class="col-md-12 text-center btn-next-prev">
                                                <button class="btn btn-default" type="button" onclick="next_or_previuskasbank(false, 'tbl_non_kasbank')"><i class="icon-arrow-left13"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: table-cell;  width: 45%;">
                                        <label style="width:100%;" class="text-semibold">Data Mutasi Kas Bank<span onclick="get_kasbank('tbl_non_kasbank', true, 1);" class="pull-right cursor-pointer"><i class="icon-sync"></i></span> </label>
                                        <div id="form_tbl_non_kasbank" class="table-responsive" style="border: 1px solid #ccc; background: #eee; height: 400px;">
                                            <div class="fm_loading hidden"><i class="icon-spinner9 spinner"></i></div>
                                            <table id="tbl_non_kasbank" class="table-responsive table table-bordered table-hover" style="background: #fff;">
                                                <thead>
                                                    <tr>
                                                        <th>Tanggal</th>
                                                        <th>Nomor Bukti</th>
                                                        <th>Keterangan</th>
                                                        <th>Nilai</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="fm_tbl_non_kasbank"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
</div>

@Html.Partial("_LookUpTipePembayaran", Model, new ViewDataDictionary {
{ "target", target_pembayaran },
{ "modalid", modalid_pembayaran },
{ "targetForm", targetForm },
{ "modalName", modalName_pembayaran },
{ "headerisajax", ViewBag.IsAjaxRequest}
})

<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
        get_kasbank("tbl_kasbank", false, 0);
        get_kasbank("tbl_non_kasbank", true, 1);
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
        @:get_kasbank("tbl_kasbank", false, 0);
        @:get_kasbank("tbl_non_kasbank", true, 1);

    }

    function openmodaltipePembayaran() {
        $('#@modalid_pembayaran').modal('show');
    }

    function fmloading(dna = true, target){
        if (dna == true) {
            $("#" + target + " .fm_loading").removeClass('hidden');
            $('.table-responsive').css('overflow', 'hidden');
        } else {
            $("#" + target + " .fm_loading").addClass('hidden');
            $('.table-responsive').css('overflow', 'auto');
        }
    }

    $('#tbl_kasbank tbody').click('tr', function (e) {
        var j_this = $(e.target).closest('tr');
        var j_tbody = j_this.closest('tbody');
        var hasClass = j_this.hasClass('active-info');
        if (hasClass) {
            j_this.removeClass('active-info');
        } else {
            j_this.addClass('active-info');
        }
    });
    $('#tbl_non_kasbank tbody').click('tr', function (e) {
        var j_this = $(e.target).closest('tr');
        var j_tbody = j_this.closest('tbody');
        var hasClass = j_this.hasClass('active-info');
        if (hasClass) {
            j_this.removeClass('active-info');
        } else {
            j_this.addClass('active-info');
        }
    });

    get_kasbank("tbl_kasbank", false, 0);
    get_kasbank("tbl_non_kasbank", true, 1);

    function get_kasbank(target, mcu, all = 0) {
        fmloading(true, "form_" + target);

        var nobukti = $('#NoBukti').val();

        mcus = (mcu) ? 1 : 0;
        alls = (all == 1) ? true : $(".tab-content #all").is(':checked');
        $.ajax({
            url: "@Url.Action("get_detailkasir", "MutasikasBank")",
            type: "GET",
            method : "GET",
            data: {
                nobukti: nobukti,
                fromdate: $(".tab-content #fromdate").val(),
                todate: $(".tab-content #fromdate").val(),
                all: alls,
                val: mcus
            },
            dataType: "JSON",
            success: function (r) {
                var html = "";
                if (r.Data.countAll != 0) {
                    for (var i = 0; i < r.Data.countAll; i++) {
                        html += `
                                <tr data-nobukti="`+ r.Data.data[i].NoBukti +`">
                                    <td>`+ r.Data.data[i].Tanggal_View+`</td>
                                    <td>`+ r.Data.data[i].NoBukti +`</td>
                                    <td>`+ r.Data.data[i].Keterangan +`</td>
                                    <td>`+ r.Data.data[i].Total_View +`</td>
                                </tr>
                                `;
                        }
                    $("#fm_" + target).html(html);
                } else {
                    html += `
                            <tr>
                                <td colspan="4" class="text-center">-- Tidak ada data --</td>
                            </tr>
                            `;

                    $("#fm_" + target).html(html);
                }
                fmloading(false, "form_" + target);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                fmloading(false, "form_" + target);
            }
        });
    }


    function next_or_previuskasbank(mcu, target) {
        fmloading(true, "form_" + target);

        var nobukti = [];
        $('#'+target+' tbody').find('.active-info').each(function(){
            nobukti.push({
                nobukti: $(this).data('nobukti'),
                val: mcu,
            });
        });

        if (nobukti.length == 0) {
            alertpopup("Belum ada data yang dipilih.", "info");
            $(".fm_loading").addClass('hidden');
            return;
        }

        if ($('#NamaBank').val() == '') {
            alertpopup("Pilih Bank terlebih dahulu", "info");
            $(".fm_loading").addClass('hidden');
            return;
        }

        $.ajax({
            url: "@Url.Action("update_kasir", "MutasikasBank")",
            type: "POST",
            data: {
                id: nobukti,
                header: {
                    NoBukti: $('#NoBukti').val(),
                    Tanggal: $('#Tanggal').val(),
                    Jam: $('#Jam').val(),
                    IDBank: $('#IDBank').val(),
                    NamaBank: $('#NamaBank').val(),
                    AkunIDBank: $('#AkunIDBank').val(),
                }
            },
            dataType: "JSON",
            success: function (r) {
                $('#' + target + ' tbody').find('.active-info').removeClass('active-info');

                get_kasbank("tbl_kasbank", false);
                get_kasbank("tbl_non_kasbank", true);

                fmloading(false, "form_" + target);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                fmloading(false, "form_" + target);
            }
        });
    }

</script>
