﻿@using Kasir.Helper
@using Kasir.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "Report";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@model ReportHelperViewModel

<style>
    .panel-flat > .panel-heading {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        background-color: #fff;
    }
</style>
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Report @Model.Name</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>

    <table class="table table-bordered">
        <tbody>
            @if (Model.Reports != null)
            {
                foreach (var x in Model.Reports)
                {
                    if (x.FileName == "sReport.rpt")
                    {
                        continue;
                    }
                    <tr>
                        <td style="width:80px;"><button onclick='openmodalreport("@x.FileName")' type="button" class="btn btn-success btn-block btn-xs"><i class="icon icon-printer"></i></button></td>
                        <td>@x.Title</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="panel-footer">&nbsp;</div>
</div>

<div id="modalreport" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Report</h4>
            </div>
            <form id="formprint">
                <div class="modal-body">
                    <div class="form-horizontal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="modalprintonsubmitExcel(event)"><i class="glyphicon glyphicon-print position-left"></i> Print Excel</button>
                    <button type="button" class="btn btn-success" onclick="modalprintonsubmit(event)"><i class="glyphicon glyphicon-print position-left"></i> Print PDF</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const reportlist = @Html.Raw(JsonConvert.SerializeObject(Model.Reports));

    document.getElementById("formprint").addEventListener('submit', function () {
        this.submit.disabled = true;
    });

    const openmodalreport = filename => {
        let m = reportlist.find(x => x.FileName === filename);
        let param = '<input type="hidden" name="filename" value="' + filename + '"/>';
        $.each(m.Parameters, function (index, value) {
            let _hide = "";
            if (value.Name.indexOf("@@Copy") === 0) {
                _hide = "hide";
            }

            param += '<div class="form-group ' + _hide + '">';
            param += '<label class="control-label col-md-3">';

            // custome

            if (value.Name === "@@DokterId") {
                param += "Dokter";
            } else if (value.Name === "@@FromDate") {
                param += "Dari Tanggal";
            } else if (value.Name === "@@ToDate") {
                param += "Sampai Tanggal";
            } else if (value.Name === "@@BarangID") {
                param += "Barang";
            } else if (value.Name === "@@LokasiID") {
                param += "Lokasi";
            } else if (value.Name === "@@SectionID") {
                param += "Section";
            } else if (value.Name === "@@UserIDWeb") {
                param += "User";
            } else {
                param += value.Name.replace('@@', '').split('_').join(' ');
            }
            // custome

            //param += value.Name.replace('@@', '').split('_').join(' ');
            param += '</label>';
            param += '<div class="col-md-9">';
            //NumberParameter = 0,
            //CurrencyParameter = 1,
            //BooleanParameter = 2,
            //DateParameter = 3,
            //StringParameter = 4,
            //DateTimeParameter = 5,
            //TimeParameter = 6

            // custome
            if (value.Name === "@@DokterId")
                param += '<select id="inputdokter" required class="form-control param" name="' + value.Name + '"></select>';
            // custome
            else if (value.Name === "@@BarangID")
                param += '<select id="inputbarang" required class="form-control param" name="' + value.Name + '"></select>';
            else if (value.Name === "@@LokasiID") {
                param += '<input type="hidden" id="inputlokasi" required class="form-control param" name="' + value.Name + '" Value="@Model.LokasiID">';
                param += '<input type="text" id="inputlokasiname" readonly class="form-control" name="LokasiName" Value="@Model.SectionName">';
            } else if (value.Name === "@@SectionID") {
                param += '<input type="hidden" id="inputSection" required class="form-control param" name="' + value.Name + '" Value="@Model.SectionID">';
                param += '<input type="text" id="inputSectionName" readonly class="form-control" name="SectionName" Value="@Model.SectionName">';
            } else if (value.Name === "@@RJ") {
                param += '<select class="form-control param" name="' + value.Name + '">';
                param += '<option value="0">RAWAT JALAN</option>';
                param += '<option value="1">RAWAT INAP</option>';
                param += '</select>';
            } else if (value.Name === "@@UserIDWeb") {
                param += '<input type="hidden" id="userIDWeb" required class="form-control param" name="' + value.Name + '" Value="@Model.UserID">';
                param += '<input type="text" id="userNameWeb" readonly class="form-control" name="userNameWeb" Value="@Model.UserName">';
            } else if (value.Name === "@@Shift") {
                param += '<select class="form-control param" name="' + value.Name + '">';
                param += '<option value="PAGI">PAGI</option>';
                param += '<option value="SIANG">SIANG</option>';
                param += '<option value="SORE">SORE</option>';
                param += '<option value="MALAM">MALAM</option>';
                param += '</select>';
            }else if (value.ParameterType === 2) {
                param += '<select class="form-control param" name="' + value.Name + '">';
                param += '<option value="">..</option>';
                param += '<option value="TRUE">TRUE</option>';
                param += '<option value="FALSE">FALSE</option>';
                param += '</select>';
            } else
            {
                _type =
                    value.ParameterType === 1 ? "number" :
                    value.ParameterType === 3 ? "date" :
                    value.ParameterType === 5 ? "datetime" :
                    value.ParameterType === 6 ? "time" : "text";
                param += '<input class="form-control param" type="' + _type + '" name="' + value.Name + '"/>';
            }
            param += '</div>';
            param += '</div>';
        });
        $('#modalreport form .modal-body .form-horizontal').html(param);
        initopenmodal();
        $('#modalreport').modal();
    }

    const initopenmodal = () =>{
        var form = $('#formprint')[0];
        if (form['@@Dari_Tanggal'])
            form['@@Dari_Tanggal'].value = '@(new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).ToString("yyyy-MM-dd"))';
        if (form['@@FromDate'])
            form['@@FromDate'].value = '@(new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).ToString("yyyy-MM-dd"))';
        if (form['@@Sampai_Tanggal'])
            form['@@Sampai_Tanggal'].value = '@(new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month)).ToString("yyyy-MM-dd"))';
        if (form['@@ToDate'])
            form['@@ToDate'].value = '@(new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month)).ToString("yyyy-MM-dd"))';
        dokteropenselect2();
        barangopenselect2();
    }

    const modalprintonsubmit = (e) => {
        e.preventDefault();
        let filename = $('#modalreport form')[0]['filename'].value;
        let param = [];
        let m = reportlist.find(x => x.FileName === filename);
        $.each($('#modalreport form .param'), function (index, value) {
            let _param = m.Parameters.find(y => y.Name === value.name);
            param.push({
                Name: _param.Name,
                ParameterType: _param.ParameterType,
                Value: value.value
            });
        });
        window.open('@Url.Action("ExportPDF")?filename=' + filename + '&param=' + encodeURIComponent(JSON.stringify(param)), '_blank');
        $('#modalreport').modal('hide');
    }

    const modalprintonsubmitExcel = (e) => {
        e.preventDefault();
        let filename = $('#modalreport form')[0]['filename'].value;
        let param = [];
        let m = reportlist.find(x => x.FileName === filename);
        $.each($('#modalreport form .param'), function (index, value) {
            let _param = m.Parameters.find(y => y.Name === value.name);
            param.push({
                Name: _param.Name,
                ParameterType: _param.ParameterType,
                Value: value.value
            });
        });
        window.open('@Url.Action("ExportExcel")?filename=' + filename + '&param=' + encodeURIComponent(JSON.stringify(param)), '_blank');
        $('#modalreport').modal('hide');
    }

    const dokteropenselect2 = () => {
        $('#inputdokter').select2({
            ajax: {
                url: "@Url.Action("ListDokter", "ReportParameter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;

                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    const barangopenselect2 = () => {
        $('#inputbarang').select2({
            ajax: {
                url: "@Url.Action("ListBarang", "ReportParameter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;

                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Barang_ID, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }
</script>
