﻿@using Kasir.Models
@model PemakaianObatNonPasienViewModel
@{
    var controllerName = "PemakaianObatNonPasien";
    ViewBag.Title = "Pemakaian Obat Non Pasien";
    var formName = $"frm_{controllerName}_create";
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-1">Keterangan</label>
        <div class="col-md-11">
            @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div id="panel_detil_barang_@formName">
        <div class="table-responsive">
            <table id="@table_detail_barang" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Deskripsi</th>
                        <th>Sat</th>
                        <th>Stok</th>
                        <th>Pemakaian</th>
                        <th>Harga</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Detail_List)
                    {
                    <tr>
                        <td>@x.Model.KodeBarang</td>
                        <td>@x.Model.NamaBarang</td>
                        <td>@x.Model.Satuan</td>
                        <td>@x.Model.QtyStok</td>
                        <td>@x.Model.QtyPemakaian</td>
                        <td>@x.Model.Harga_View</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>