﻿@using Kasir.Models
@model PembayaranLostInsertViewModel
@{
    var controllerName = "PembayaranLost";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL INVOICE
    var target_invoice = new
    {
        t0 = $"#{nameof(Model.NoInvoice)}",
        t1 = $"#{nameof(Model.TanggalInvoice)}",
        t2 = $"#{nameof(Model.NoReg)}",
        t3 = $"#{nameof(Model.NRM)}",
        t4 = $"#{nameof(Model.NamaPasien)}",
        t5 = $"#{nameof(Model.TipePasien)}",
        t6 = $"#{nameof(Model.NilaiAwal_View)}",
        t7 = $"#{nameof(Model.NilaiAkumulaiPembayaran_View)}"
    };
    var modalid_invoice = $"modal_{formName}_{nameof(Model.NoInvoice)}";
    var modalName_invoice = "Invoice";
    #endregion

    #region ==== MODAL MERCHAN
    var target_merchan = new
    {
        t0 = $"#{nameof(Model.IDBank)}",
        t1 = $"#{nameof(Model.NamaBank)}",
    };
    var modalid_merchan = $"modal_{formName}_{nameof(Model.IDBank)}";
    var modalName_merchan = "Merchan";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">NoBukti</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId")', '#NoBukti')">
                                        <i class="icon-sync"></i>
                                    </button>
                                </span>
                                @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Tanggal</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.ToString("hh':'mm")) : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">No Invoice</label>
                                <div class="col-md-4 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btninvoice" onclick="openmodalInvoice()"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NoInvoice, new { htmlAttributes = new { @class = "form-control", onblur = "getdatainvoice()", @readonly = "readonly" } })
                                    </div>
                                   @Html.ValidationMessageFor(model => model.NoInvoice, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Tgl Invoice</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.TanggalInvoice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TanggalInvoice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">NoReg</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Nama Pasien</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Tipe Pasien</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TipePasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TipePasien, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Nilai Awal</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiAwal_View, new { htmlAttributes = new { @class = "form-control text-right input-money", @readonly = "readonly", Value = "0" } })
                                    @Html.ValidationMessageFor(model => model.NilaiAwal_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Nilai Akumulasi Pembayaran</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiAkumulaiPembayaran_View, new { htmlAttributes = new { @class = "form-control text-right input-money", @readonly = "readonly", Value = "0" } })
                                    @Html.ValidationMessageFor(model => model.NilaiAkumulaiPembayaran_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Nilai</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NilaiPembayaran_View, new { htmlAttributes = new { @class = "form-control text-right input-money", onchange = "hitungsisa()", Value = "0" } })
                                    @Html.ValidationMessageFor(model => model.NilaiPembayaran_View, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Jenis Pembayaran</label>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.Tunai, new { htmlAttributes = new { onchange = "changeTunai()" } })
                                            Tunai
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.KartuKredit, new { htmlAttributes = new { onchange = "changeKredit()" } })
                                            Kartu Kredit
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Merchan</label>
                                <div class="col-md-4 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btnmerchan" onclick="openmodalMerchan()"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.IDBank, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.IDBank, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.NamaBank, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaBank, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">NoKartu</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NoKartu, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoKartu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Add Charge</label>
                                <div class="col-md-4 margin-bottom-md">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.AddCharge_Persen_View, new { htmlAttributes = new { @class = "form-control text-right input-money", Value = "0" } })
                                        @Html.ValidationMessageFor(model => model.AddCharge_Persen_View, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="control-label col-md-3 text-bold">Sisa</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Sisa, new { htmlAttributes = new { @class = "form-control text-right input-money", @style = "background-color:#FFC0C0;", Value = "0" } })
                                    @Html.ValidationMessageFor(model => model.Sisa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
@Html.Partial("_LookUpInvoiceLost", Model, new ViewDataDictionary {
{ "target", target_invoice },
{ "modalid", modalid_invoice },
{ "targetForm", targetForm },
{ "modalName", modalName_invoice },
{ "headerisajax", ViewBag.IsAjaxRequest}
})

@Html.Partial("_LookUpMerchan", Model, new ViewDataDictionary {
{ "target", target_merchan },
{ "modalid", modalid_merchan },
{ "targetForm", targetForm },
{ "modalName", modalName_merchan },
{ "headerisajax", ViewBag.IsAjaxRequest}
})
<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }
</script>
<script>
    function openmodalInvoice() {
         $("#@modalid_invoice").modal();
    }

    function openmodalMerchan() {
        $("#@modalid_merchan").modal();
    }

    function changeTunai() {
        if ($('#Tunai').is(':checked')) {
            $('#KartuKredit').prop('checked', false);
            $('#IDBank').val('');
            $('#NamaBank').val('');
            $('#IDBank').prop('required', false);
        }
    }

    function changeKredit() {
        if ($('#KartuKredit').is(':checked')) {
            $('#Tunai').prop('checked', false);
            $('#IDBank').prop('required', true);
        }
    }

    function getdatainvoice() {
        $('#NilaiPembayaran_View').val(getcurrencyfromfloat($('#NilaiAwal_View').val()));
    }

    function hitungsisa() {
        var nilaipembayaran = getfloatfromcurrency($('#NilaiPembayaran_View').val()) || 0;
        var nilaiawal = getfloatfromcurrency($('#NilaiAwal_View').val()) || 0;
        var sisa = nilaiawal - nilaipembayaran;
        $('#Sisa').val(getcurrencyfromfloat(sisa));
    }
</script>