﻿@using iHos.MVC.Converter
@using Kasir.Models
@{
    var controllerName = "PembayaranLost";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new PembayaranLostViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NoReg);
    column[3] = nameof(item.NRM);
    column[4] = nameof(item.NamaPasien);
    column[5] = nameof(item.JenisKerjasama);
    column[6] = nameof(item.NilaiPembayaran);
    column[7] = nameof(item.Audit);
    column[8] = nameof(item.Batal);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 120px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        text-align: center;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4) {
        text-align: center;
    }

    #@tableId tbody td:nth-child(5),
    #@tableId thead th:nth-child(5) {
        width: 120px;
        text-align: center;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        min-width:250px;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        text-align: center;
    }

    #@tableId thead th:nth-child(8){
        text-align: center;
    }

    #@tableId tbody td:nth-child(8){
        text-align: right;
    }

</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId',
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[12]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[13]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Jenis Kerjasama</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Nilai Pembayaran</th>
                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a ng-if="!data.@(column[7]) && !data.@(column[8])" ng-click="batal(data.@column[0], '@Url.Action("Batal")')"
                               title="Batal" data-id="{{data.@column[0]}}">
                                <i class="icon-trash text-danger"></i>
                            </a>
                            <a href="@Url.Action("Detail")/{{ data.@column[0] }}" class="text-info-600 ml-5"
                               onclick="return false"
                               ng-click="detail(data.@column[0], '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            <a target="_blank" href="@Url.Action("CetakPDF", "Report")?reportname=KASIR_KwitansiPasienLost&nobukti={{ data.@column[0] }}"
                               title="Print" data-id="{{data.@column[0]}}" class="ml-5">
                                <i class="icon-printer text-info"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>
                            <label ng-if="data.@(column[8])" class="label label-warning" title="Batal">{{data.@column[0]}}</label>
                            <label ng-if="!data.@(column[8])" class="label label-success" title="{{data.@(column[0])}}">{{data.@column[0]}}</label>
                        </td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td title="{{data.@(column[2])}}">{{data.@(column[2])}}</td>
                        <td title="{{data.@(column[3])}}">{{data.@(column[3])}}</td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])}}</td>
                        <td title="{{data.@(column[5])}}">{{data.@(column[5])}}</td>
                        <td title="{{data.@(column[6])_View}}">{{data.@(column[6])_View}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
     angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[12] = date;
        sc.filter[13] = date;
        sc.getdatas();
    });
</script>