﻿<!-- Footer -->
<div class="footer text-muted text-center">
    Copyright &copy; @DateTime.Now.Year. <a href="http://www.sanatasystem.com">Kasir</a> by <a href="http://www.sanatasystem.com">Sanata System</a>
</div>

<div id="_loading" class="loading">
    <div class="bubblingG center">
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
    </div>
</div>
<div id="_modal"></div>

<div id="myModal" class="modal-img" style="display:none">
    <span class="close-img" onclick="closemodalimg(this)">&times;</span>
    <img class="modal-content-img" id="img01">
    <div id="caption"></div>
</div>
<script>
    var urlroot = '@Url.Content("~/")';
</script>