﻿@using Kasir.Models
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var target = ViewData["target"];
    var type = ViewData["type"].ToString();
    var modalid = ViewData["modalid"].ToString();
    var targetForm = ViewData["targetForm"].ToString();
    var modalName = ViewData["modalName"].ToString();
    var headerisajax = ViewData["headerisajax"];

    var tableId = $"divtablelookup_{modalid}";
    var url_table = Url.Action("ListTipeTransaksi", "LookUp");
    var item = new TipeTransaksiViewModel();
    var columnCount = 10;
    var column = new string[columnCount];
    column[0] = nameof(item.NamaType);
}
<div class="modal fade" id="@modalid" tabindex="-1" role="dialog"
     data-header-ajax="@headerisajax"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount; init();
                url = '@url_table';
                targetform = '@targetForm';
                target = @(JsonConvert.SerializeObject(target));
                filter[10] = '@type';">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@modalName</h4>
            </div>
            <div class="modal-body">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a onclick="togglecheckbox('.filter_list_lookup_registrasi')"><i class="icon-filter3"></i></a></li>
                            <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="datatable-header">
                    <div class="dataTables_length filter_list_lookup_registrasi" style="display:none">
                        <label>
                            <span>Show:</span>
                            <select class="form-control input-xs" style="width: auto;"
                                    ng-change="getdatas()"
                                    ng-model="pagesize"
                                    ng-options="opt as opt for opt in pagesizes"></select>
                        </label>
                    </div>
                </div>
                <!-- List -->
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[0]'; sorttype = 'desc'">
                                <!-- Column Sort -->
                                <th ng-click="ordering($event,'@column[0]')" class="sorting">Tipe Transaksi</th>
                            </tr>
                            <tr class="filter_list_lookup_registrasi">
                                <!-- Filter -->
                                <td>
                                    <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                            </tr>
                            <tr class="loading {{ loading ? '' : 'hide' }}">
                                <td colspan="50">
                                    <div class="bubblingG center">
                                        <span id="bubblingG_1"></span>
                                        <span id="bubblingG_2"></span>
                                        <span id="bubblingG_3"></span>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <!-- Target Lookup -->
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                ng-click="select($event, [
                                                data.@column[0],
                                                ])">
                                <!-- Table Result -->
                                <td>{{data.@(column[0])}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info">
                    {{ datainfo }}
                </div>
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination md-full-right" compile="pagination"></ul>

                    <button type="button" class="btn btn-success btn-multipleselected"
                            ng-click="selected($event, true)">
                        Pilih <i class="icon-checkmark2"></i>
                    </button>
                </div>
            </div>
            <div ng-init="pagesize = 10; getdatas();"></div>
        </div>
    </div>
</div>


