﻿@using Kasir.Models
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var target = ViewData["target"];
    var modalid = ViewData["modalid"].ToString();
    var targetForm = ViewData["targetForm"].ToString();
    var modalName = ViewData["modalName"].ToString();
    var headerisajax = ViewData["headerisajax"];

    var tableId = $"divtablelookup_{modalid}";
    var url_table = Url.Action("ListRegistrasi", "LookUp");
    var item = new RegistrasiViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.TglReg);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.NamaPasien);
    column[4] = nameof(item.JenisKerjasama);
    column[5] = nameof(item.Nama_Customer);
    column[6] = nameof(item.Alamat);
    column[7] = nameof(item.TipePelayanan);
    column[8] = nameof(item.KdKelasPelayanan);
    column[9] = nameof(item.TglReg_View);
    column[10] = nameof(item.nilai);
}
<div class="modal fade" id="@modalid" tabindex="-1" role="dialog"
     data-header-ajax="@headerisajax"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount; init();
                url = '@url_table';
                targetform = '@targetForm';
                blurfirsttarget = true;
                target = @(JsonConvert.SerializeObject(target))">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@modalName</h4>
            </div>
            <div class="modal-body">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a onclick="togglecheckbox('.filter_list_lookup_registrasi')"><i class="icon-filter3"></i></a></li>
                            <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="datatable-header">
                    <div class="filter_list_lookup_registrasi">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" />
                                    Proses Payment
                                </label>
                            </div>
                            <div class="form-group">
                                <span>Show:</span>
                                <select class="form-control input-xs"
                                        ng-change="getdatas()"
                                        ng-model="pagesize"
                                        ng-options="opt as opt for opt in pagesizes"></select>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- List -->
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[0]'; sorttype = 'desc'">
                                <!-- Column Sort -->
                                <th ng-click="ordering($event,'@column[0]')" class="sorting">No Reg</th>
                                <th ng-click="ordering($event,'@column[1]')" class="sorting">Tgl Reg</th>
                                <th ng-click="ordering($event,'@column[2]')" class="sorting">NRM</th>
                                <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama Pasien</th>
                                <th ng-click="ordering($event,'@column[4]')" class="sorting">Jenis Kerjasama</th>
                                <th ng-click="ordering($event,'@column[5]')" class="sorting">Perusahaan</th>
                                <th ng-click="ordering($event,'@column[10]')" class="sorting">Nilai</th>
                            </tr>
                            <tr class="filter_list_lookup_registrasi">
                                <!-- Filter -->
                                <td>
                                    <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td></td>
                                <td>
                                    <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td>
                                    <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td></td>
                                <td>
                                    <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                                </td>
                                <td></td>
                            </tr>
                            <tr class="loading {{ loading ? '' : 'hide' }}">
                                <td colspan="50">
                                    <div class="bubblingG center">
                                        <span id="bubblingG_1"></span>
                                        <span id="bubblingG_2"></span>
                                        <span id="bubblingG_3"></span>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <!-- Target Lookup -->
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                ng-click="select($event, [
                                                data.@column[0],
                                                data.@column[9],
                                                data.@column[2],
                                                data.@column[3],
                                                data.@column[6],
                                                data.@column[7],
                                                data.@column[8],
                                                data.@column[4],
                                                data.@column[5],
                                                data.@column[10],
                                                ])">
                                <!-- Table Result -->
                                <td>{{data.@(column[0])}}</td>
                                <td>{{data.@(column[1])_View}}</td>
                                <td>{{data.@(column[2])}}</td>
                                <td>{{data.@(column[3])}}</td>
                                <td>{{data.@(column[4])}}</td>
                                <td>{{data.@(column[5])}}</td>
                                <td>{{data.@(column[10])}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info">
                    {{ datainfo }}
                </div>
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination md-full-right" compile="pagination"></ul>

                    <button type="button" class="btn btn-success btn-multipleselected" onchange="baru()"
                            ng-click="selected($event, true)">
                        Pilih <i class="icon-checkmark2"></i>
                    </button>
                </div>
            </div>
            <div ng-init="pagesize = 10; getdatas();"></div>
        </div>
    </div>
</div>


