﻿<ul class="navigation navigation-main navigation-accordion">
    <!-- Main -->
    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home4"></i> <span>Home</span></a></li>
    <li>
        <a><i class="icon-cart5"></i> <span>Transaksi</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "Pembayaran")">Pembayaran Billing</a></li>
            <li><a href="@Url.Action("Index", "ManualPosting")">Manual Posting</a></li>
            <li><a href="@Url.Action("Index", "Pasien")">List Pasien BPJS</a></li>
            <li><a href="@Url.Action("Index", "PenerimaanNonInvoice")">Penerimaan Non Invoice</a></li>
            <li><a href="@Url.Action("Index", "PembayaranObatBebas")">Pembayaran Obat Bebas</a></li>
            <li><a href="@Url.Action("Index", "PembayaranDeposit")">Pembayaran Deposit</a></li>
            <li><a href="@Url.Action("Index", "PettyCash")">Petty Cash</a></li>
            <li><a href="@Url.Action("Index", "SetoranKasBank")">Setoran Kas Bank</a></li>
            <li><a href="@Url.Action("Index", "PengeluaranKasNonInvoice")">Pengeluaran Kas Non Invoice</a></li>
            <li><a href="@Url.Action("Index", "PembayaranOutStanding")">Pembayaran Outstanding</a></li>
            <li><a href="@Url.Action("Index", "PembayaranLost")">Pembayaran Lost</a></li>
            <li><a href="@Url.Action("Index", "SplitBill")">Split Bill</a></li>
            <li><a href="@Url.Action("Index", "MutasiKasBank")">Mutasi Kas Bank</a></li>
        </ul>
    </li>
    <li>
        <a><i class="icon-balance"></i> <span>Stok</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "AmprahStok")">Amprahan Stok</a></li>
            <li><a href="@Url.Action("Index", "PemakaianObatNonPasien")">Pemakaian Obat Non Pasien</a></li>
            <li><a href="@Url.Action("Index", "StokOpname")">Stok Opname</a></li>
        </ul>
    </li>
    <li>
        <a><i class="icon-notebook"></i> <span>Report</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "ReportKasir")">Report Kasir</a></li>
            @* <li><a href="@Url.Action("Index", "ReportKasir")?dir=Pendukung">Report Pendukung</a></li>*@

        </ul>
    </li>
</ul>