﻿
@using Kasir.Models
@model SplitBillInsertViewModel
@{
    var controllerName = "SplitBill";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL REG ASAL
    var target_regasal = new
    {
        t0 = $"#{nameof(Model.NoRegAsal)}",
        t1 = $"#{nameof(Model.TglKeluarAsal)}",
        t2 = $"#{nameof(Model.NRMAsal)}",
        t3 = $"#{nameof(Model.NamaPasienAsal)}",
    };
    var modalid_regasal = $"modal_{formName}_{nameof(Model.NoRegAsal)}";
    var modalName_regasal = "REG ASAL";
    #endregion

    #region Detail
    var detail = new SplitBillDetailViewModel();
    var table_detail = $"frm_{controllerName}_table_detail";
    var target_inputDetail = $"inputDetail{controllerName}";
    #endregion

    #region ==== MODAL REG TUJUAN
    var target_regtujuan = new
    {
        t0 = $"#{nameof(Model.NoRegTujuan)}",
        t1 = $"#{nameof(Model.TglRegTujuan)}",
        t2 = $"#{nameof(Model.NRMTujuan)}",
        t3 = $"#{nameof(Model.NamaPasienTujuan)}",
    };
    var modalid_regtujuan = $"modal_{formName}_{nameof(Model.NoRegTujuan)}";
    var modalName_regtujuan = "REG TUJUAN";
    #endregion

    int detail_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_index = Model.Detail_List.Count();
        }
    }

    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}
<style>
    #@table_detail thead th:nth-child(1),
    #@table_detail tbody td:nth-child(1){
        display:none;
    }

    #@table_detail thead th:nth-child(2),
    #@table_detail tbody td:nth-child(2) {
        display: none;
    }

    #@table_detail thead th:nth-child(3),
    #@table_detail tbody td:nth-child(3){
        display:none;
    }

</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">Reg Asal</label>
                                <div class="col-md-10 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btnregasal" onclick="openmodalregasal()"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NoRegAsal, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", onblur = "getdatasplit()" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NoRegAsal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Tgl Keluar</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TglKeluarAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TglKeluarAsal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NRMAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NRMAsal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Nama Pasien</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaPasienAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaPasienAsal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="checkbox checkbox-inline col-md-3 col-md-offset-9">
                                    <input type="checkbox" onclick="centangsemua(this)" />
                                    Centang Semua
                                </label>
                            </div>
                            <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_index">
                                <div class="table-responsive">
                                    <table id="@table_detail" class="table table-hover table-bordered">
                                        <thead>
                                            <tr>

                                                <!-- Thead -->
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>NoBukti</th>
                                                <th>Section</th>
                                                <th>Total</th>
                                                <th>Check</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">Reg Tujuan</label>
                                <div class="col-md-10 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btnregtujuan" onclick="openmodalregtujuan()"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NoRegTujuan, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NoRegTujuan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Tgl Reg</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TglRegTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TglKeluarAsal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NRMTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NRMTujuan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Nama Pasien</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaPasienTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaPasienTujuan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@target_inputDetail" class="hidden">

    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.NoBukti, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly",
           onblur = "checkdetailprimarykey(this)",
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.SectionName, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Total_View, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Check, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>
</div>

@Html.Partial("_LookUpRegAsal", Model, new ViewDataDictionary {
{ "target", target_regasal },
{ "modalid", modalid_regasal },
{ "targetForm", targetForm },
{ "modalName", modalName_regasal },
{ "headerisajax", ViewBag.IsAjaxRequest}
})

@Html.Partial("_LookUpRegTujuan", Model, new ViewDataDictionary {
{ "target", target_regtujuan },
{ "modalid", modalid_regtujuan },
{ "targetForm", targetForm },
{ "modalName", modalName_regtujuan },
{ "headerisajax", ViewBag.IsAjaxRequest}
})

<script>
    function centangsemua(t) {
        if ($(t).is(':checked')) {
            $('#@table_detail tbody td:nth-child(7) input').prop('checked', true);
        } else {
            $('#@table_detail tbody td:nth-child(7) input').prop('checked', false);
        }
    }

    function openmodalregasal() {
        $('#@modalid_regasal').modal();
    }

    function openmodalregtujuan() {
        $('#@modalid_regtujuan').modal();
    }

    function getdatasplit() {
        myajax({
            url: '@Url.Action("GetDataSplit","SplitBill")',
            data: {
                noreg: $('#NoRegAsal').val(),
            },
            method: 'GET',
            success: function (data) {
                if (data.IsSuccess) {

                    $('#@formName #@table_detail [onclick="customremovetr(this)"]').click();
                    $.each(data.Data, function (i, v) {
                        angular.element('#@formName').scope().addrowdetail({ target: '#@table_detail' }, '#@target_inputDetail');
                        var td = $('#@formName #@table_detail tbody tr:last td');
                        $(td[3]).find('input').val(v.NoBukti);
                        $(td[4]).find('input').val(v.SectionName);
                        $(td[5]).find('input').val(getcurrencyfromfloat(v.Total));
                        $(td[3]).find('input').blur();
                    });
                } else {
                    alertpopup(data.Message, 'info');
                }
            }
        });
    }

    function checkdetailprimarykey(_this) {
        var j_detail_input = $('#@table_detail tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
    }
</script>