﻿@using Kasir.Models
@model SplitBillInsertViewModel
@{
    var controllerName = "SplitBill";
    ViewBag.Title = controllerName;

    #region Detail
    var detail = new SplitBillDetailViewModel();
    var table_detail = $"frm_{controllerName}_table_detail";
    var target_inputDetail = $"inputDetail{controllerName}";
    #endregion

    int detail_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_index = Model.Detail_List.Count();
        }
    }

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="wall" ng-controller="form">
    <form>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">Reg Asal</label>
                                <div class="col-md-4 margin-bottom-md">
                                    @Html.EditorFor(model => model.NoRegAsal, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", onblur = "getdatasplit()" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Tgl Keluar</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.TglKeluarAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NRMAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Nama Pasien</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaPasienAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <hr />
                            <div id="panel_detil_barang_" class="detail" data-index-detail="@detail_index">
                                <div class="table-responsive">
                                    <table id="@table_detail" class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>NoBukti</th>
                                                <th>Section</th>
                                                <th>Total</th>
                                                <th>Check</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (var i = 0; i < Model.Detail_List.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Model.NoBukti, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly",
                                                           onblur = "checkdetailprimarykey(this)",
                                                       }
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Model.SectionName, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Model.Total_View, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Model.Check, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           disabled = "disabled"
                                                       }
                                                   })
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">Reg Tujuan</label>
                                <div class="col-md-4 margin-bottom-md">
                                    @Html.EditorFor(model => model.NoRegTujuan, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Tgl Reg</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.TglRegTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NRMTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Nama Pasien</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaPasienTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>