﻿@using Kasir.Entities
@using Kasir.Models
@model ManualPostingViewModel
@{
    var controllerName = "ManualPosting";
    ViewBag.Title = controllerName;
    var formName = $"formjasamanual";
    var targetForm = formName;
    #region ==== MODAL REGISTRASI
    var target_registrasi = new
    {
        t0 = $"#{nameof(Model.NoReg)}",
        t1 = $"#{nameof(Model.TglReg)}",
        t2 = $"#{nameof(Model.NRM)}",
        t3 = $"#{nameof(Model.NamaPasien)}",
        t4 = $"#{nameof(Model.Alamat)}",
        //t5 = $"#{nameof(Model.TipePelayanan)}",
        //t6 = $"#{nameof(Model.KelasID)}",
        t7 = $"#{nameof(Model.Registrasi_JenisKerjasama)}",
        t8 = $"#{nameof(Model.Registrasi_CompanyName)}"
    };
    var modalid_registrasi = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName_registrasi = "Registrasi";
    #endregion

}

<style>
    .panel {
        margin-bottom: 0 !important;
    }
</style>
<form id="formjasamanual" class="wall form-horizontal" onsubmit="submitformjasamanual(this)">
    <div class="row mt-15">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">Nama Jasa</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NamaJasa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NamaJasa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Harga</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HargaJasa_View, new { htmlAttributes = new { @class = "form-control text-right input-money", Value = "0" } })
                            @Html.ValidationMessageFor(model => model.HargaJasa_View, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-right">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
</form>
<script>

    function submitformjasamanual(t) {
        myajax({
            url: "@Url.Action("CreateJasa", "ManualPosting")",
            data: {
                NamaJasa: $('#formjasamanual #NamaJasa').val(),
                HargaJasa_View: $('#formjasamanual #HargaJasa_View').val(),
            },
            success: function (dt) {
                if (dt.IsSuccess) {
                    if ('@Request.IsAjaxRequest()' == 'True')
                    {
                        $('#formjasamanual').closest('.modal').modal('hide');

                        @*var url = '@Html.Raw(Url.Action("Detail", "ManualPosting", new { nobukti = "@nobukti" }))&pembayaran=@(Model.Pembayaran == 0 ? 0 : 1)';
                        url = url.replace('%40nobukti', dt.Data)
                        angular.element('#@(Model.Pembayaran == 0 ? "table_ManualPosting" : "table_Pembayaran")').scope().ajaxmodal({
                            url: url,
                            header: 'Detail Manual Posting',
                        });*@

                        $('#refresh-table').click();
                    }
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

</script>
