﻿@using iHos.MVC.Converter
@using Kasir.Entities
@using Kasir.Models
@{
    var controllerName = "ManualPosting";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}_rincianbiaya";
    var item = new GetDetailRincianBiaya_Result();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.JenisBiaya);
    column[3] = nameof(item.Qty);
    column[4] = nameof(item.Nilai);
    column[5] = nameof(item.Disc);
    column[6] = nameof(item.SectionName);
    column[7] = nameof(item.DokterName);
    column[8] = nameof(item.GroupBiaya);
    column[9] = nameof(item.KategoriBiaya);
    column[10] = nameof(item.UrutGorupJasa);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
     #@tableId td,#@tableId th{
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        text-align:center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        text-align:right;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        text-align:center;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListDetailBiaya")';
     init();
     filter[11] = '@ViewBag.NoReg';">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list" style="display:none">
                <div class="form-inline">
                    @*<div class="form-group">
                            <label>Group Biaya</label>
                            <select class="form-group" ng-model="filter[12]" ng-change="getdatas()">
                                <option value="">All</option>
                                <optgroup ng-repeat="(key, values) in datas | groupBy: '@(column[8])'" label="{{key}}">
                                    <option ng-repeat="(key2, values) in values | groupBy: '@(column[9])'" value="{{key2}}">{{key2}}</option>
                                </optgroup>
                            </select>
                        </div>*@
                    <div class="form-group">
                        <label>Show:</label>
                        <select class="form-control input-xs" style="width: auto;"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[10]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th>No Bukti</th>
                        <th>Tanggal</th>
                        <th>Jenis Biaya</th>
                        <th>Qty</th>
                        <th>Nilai</th>
                        <th>Disc %</th>
                        <th>Section</th>
                        <th>Dokter</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[1]" type="date" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[3]" type="number" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[4]" type="number" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[5]" type="number" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}" ng-repeat="(key, values) in datas | groupBy: '@(column[8])'">
                    <tr>
                        <td style="font-size: 16px;" class="bg-primary text-semibold" colspan="7">Group Biaya : {{key || ''}}</td>
                        <td style="font-size: 16px;" class="bg-primary text-semibold text-right">{{ getcurrencyfromfloat(getBiaya(key)) }}</td>  
                    </tr>
                    <tr ng-repeat-start="(key2, values2) in values | groupBy: '@(column[9])'">
                        <td style="font-size: 14px;" class="text-semibold bg-info" colspan="7">Kategori Biaya : {{key2 || ''}}</td>
                        <td style="font-size: 14px;" class="bg-info text-semibold text-right">{{ getcurrencyfromfloat(getBiayaKomponen(key, key2)) }}</td>
                    </tr>
                    <tr ng-if="values2.length > 0" ng-repeat-end ng-repeat="data in values2">
                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>
                        <td>{{data.@(column[4])_View}}</td>
                        <td>{{data.@(column[5])}}</td>
                        <td>{{data.@(column[6])}}</td>
                        <td>{{data.@(column[7])}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="font-size: 16px;" class="bg-success text-semibold text-center" colspan="3">TOTAL</th>
                        <th class="bg-success text-right" colspan="1" id="totalqtyid"></th>
                        <th class="bg-success text-right" colspan="1" ></th>
                        <th class="bg-success text-right" colspan="1" id="totaldiskonid"></th>
                        <th style="font-size: 16px;" class="bg-success  text-semibold text-right" colspan="2" id="grandtotalid"></th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 1000; getdatas();"></div>
    </div>
</div>

<script>

    getTotal();
    function getTotal() {
        var noreg = '@ViewBag.NoReg';
        myajax({
            url: '@Url.Action("getTotalDetailBiaya", "Pembayaran")',
            data: {
                noreg: noreg,
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $("#grandtotalid").html(dt.Data);
                }
            }
        });
    }

    angular.element('#table_Pembayaran_rincianbiaya').ready(() => {
        angular.element('#table_Pembayaran_rincianbiaya').scope().getBiaya = v => {
            return angular.element('#table_Pembayaran_rincianbiaya').scope().datas.filter(x => x.GroupBiaya === v).map(x => x.Nilai * x.Qty).reduce((a, b) => a + b, 0);
        };
        angular.element('#table_Pembayaran_rincianbiaya').scope().getBiayaKomponen = (v, y) => {
            return angular.element('#table_Pembayaran_rincianbiaya').scope().datas.filter(x => x.GroupBiaya === v && x.KategoriBiaya === y).map(x => x.Nilai * x.Qty).reduce((a, b) => a + b, 0);
        };
    });
</script>